# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

In [9]:
df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [10]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.rename(columns = {
          'st': 'state'}, 
          inplace=True)
df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

*Gender*

In [11]:
df["gender"].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [12]:
import numpy as np

In [14]:
def gender(gender): 
    mujer = ['F', 'Femal', 'female']
    hombre = ['M', 'Male']
    if (gender in mujer): 
        return 'F'
    elif (gender in hombre): 
        return 'M'
    else: 
        return gender

In [15]:
df["gender"] = df["gender"].apply(gender)

In [16]:
df["gender"].unique()

array([nan, 'F', 'M'], dtype=object)

*State*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*

In [17]:
df["state"].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [18]:
df['state'] = df['state'].replace('AZ', 'Arizona')
df['state'] = df['state'].replace('WA', 'Washington')
df['state'] = df['state'].replace('Cali', 'California')

df['state'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan],
      dtype=object)

- *In education, "Bachelors" could be replaced by "Bachelor"*

In [19]:
df['education'].unique()
df['education'] = df['education'].replace("Bachelors", "Bachelor")
df['education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor',
       nan], dtype=object)

- *In Customer Lifetime Value, delete the `%` character*

In [20]:
df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [21]:
df["customer_lifetime_value"] = df["customer_lifetime_value"].str.replace("%", " ")
df["customer_lifetime_value"]

0               NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
4003            NaN
4004            NaN
4005            NaN
4006            NaN
4007            NaN
Name: customer_lifetime_value, Length: 4008, dtype: object

- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [22]:
df["vehicle_class"]

0       Four-Door Car
1       Four-Door Car
2        Two-Door Car
3                 SUV
4       Four-Door Car
            ...
4003              NaN
4004              NaN
4005              NaN
4006              NaN
4007              NaN
Name: vehicle_class, Length: 4008, dtype: object

In [23]:
df["vehicle_class"] = df["vehicle_class"].apply(lambda x: "Luxury" if ( x in ["Sports Car", "Luxury SUV", "Luxury Car"]) else x)
df["vehicle_class"].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury', nan],
      dtype=object)

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

- *Customer lifetime value should be numeric*

In [24]:
df["customer_lifetime_value"] = df["customer_lifetime_value"].astype(float)

In [25]:
df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [26]:
df['number_of_open_complaints'].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [27]:
def correct_format(com): 
    
    try: 
        middle_value = com.split('/')[1]
        return int(middle_value)
    except: 
        return com

In [28]:
df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(correct_format)

In [29]:
df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [30]:
#primero eliminamos las filas q tengan todos los valores nulos 

df.dropna(how='all', inplace=True)

In [31]:
df.isnull().any() #una vez que hemos eliminado las filas q tenian todos los valores nulos, vemos cual sigen teniendo:

customer                     False
state                        False
gender                        True
education                    False
customer_lifetime_value       True
income                       False
monthly_premium_auto         False
number_of_open_complaints    False
policy_type                  False
vehicle_class                False
total_claim_amount           False
dtype: bool

Tenenmos 2: `gender` y `customer_lifetime_value`

In [32]:
#customer_lifetime_value
df['customer_lifetime_value'].isnull().sum() #solo tenemos tres valores

3

In [33]:
df['customer_lifetime_value'] = df['customer_lifetime_value'].fillna(df['customer_lifetime_value'].mean())

In [34]:
df["gender"].isnull().sum()

117

In [35]:
df["gender"].value_counts()

gender
F    502
M    452
Name: count, dtype: int64

In [36]:
df['gender'].fillna(method='bfill', inplace=True) # vamos a replazarlo por el valor posterior

C:\Users\Carlota\AppData\Local\Temp\ipykernel_10788\3833797719.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['gender'].fillna(method='bfill', inplace=True) # vamos a replazarlo por el valor posterior

In [37]:
df['gender'].unique()

array(['F', 'M'], dtype=object)

In [38]:
df.isnull().any() #ningun valor nulo

customer                     False
state                        False
gender                       False
education                    False
customer_lifetime_value      False
income                       False
monthly_premium_auto         False
number_of_open_complaints    False
policy_type                  False
vehicle_class                False
total_claim_amount           False
dtype: bool

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [39]:
df.duplicated().sum() #no hay duplicados

0

In [40]:
df.duplicated().any() #no tengo ningun repetido

False

In [41]:
df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,F,Master,7.936903e+05,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6.979536e+05,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1.288743e+06,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7.645862e+05,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5.363077e+05,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323

In [42]:
#df = df.drop_duplicates(keep='first').reset_index(drop=True)

In [43]:
#Como aqui lo mas interesante es el estado, income,customer_lifetime_value 

df.duplicated(subset=["state", "income", "customer_lifetime_value"]).sum() #hay 17

17

In [44]:
#Nos vamos a quedar con el ultimo de esos 

df.drop_duplicates(subset=["state", "income", "customer_lifetime_value"], keep="last", inplace=True)

In [45]:
df.duplicated(subset=["state", "income", "customer_lifetime_value"]).sum() #ya hay 0
df.reset_index(drop=True, inplace=True)

In [46]:
df.to_csv('cleaned_dataset.csv', index=True)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [8]:
import functions as f

In [12]:
#import functions as f

df_py = f.cargar_fichero(url)
df_py.head()

# cambiar nombre de las columnas

df_py = f.change_cols_names(df_py)
df_py.columns

# cleaning invalid values

df_py = f.cleaning_invalid_Value(df_py)
df_py['gender'].unique()


# correct format
df_py = f.change_type(df_py)
df_py['customer_lifetime_value']

#eliminar valores nulos

df_py = f.drop_null_values(df_py)
df_py = f.replace_null(df_py)
df_py.isna().sum()

# duplicados

df_py = f.duplicates(df_py)

Hay 0 valores duplicados
De las columnas `state`, `income` y `customer_lifetime_value` hay 17 valores duplicados

c:\Users\Carlota\OneDrive\Documentos\Bootcamp Data Analysis\Python\__pycache__\lab-dw-data-cleaning-and-formatting\functions.py:79: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['gender'].fillna(method='bfill', inplace=True)

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [191]:
df.describe()

,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount
count,1.071000e+03,1071.000000,1071.000000,1071.000000,1071.000000
mean,7.936903e+05,39295.701214,193.234360,0.394024,404.986909
std,6.425757e+05,30469.427060,1601.190369,0.883769,293.027260
min,2.004351e+05,0.000000,61.000000,0.000000,0.382107
25%,4.048535e+05,14072.000000,68.000000,0.000000,202.157702
50%,5.887182e+05,36234.000000,83.000000,0.000000,354.729129
75%,8.945210e+05,64631.000000,109.500000,0.000000,532.800000
max,5.816655e+06,99960.000000,35354.000000,5.000000,2893.239678

In [193]:
import numpy as np

In [199]:
quantile_75_claim = df['total_claim_amount'].quantile(0.75)
quantile_25_claim = df['total_claim_amount'].quantile(0.25)
quantil_25 = df['customer_lifetime_value'].quantile(0.25)

- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.

In [204]:
potential_areas = df[(df["total_claim_amount"]>quantile_75_claim) & (df["customer_lifetime_value"] < quantil_25)]
potential_areas

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
17,OE15005,California,M,College,394524.16,28855.0,101.0,0.0,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,M,Bachelor,245019.10,0.0,73.0,3.0,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,M,Bachelor,394637.21,0.0,111.0,0.0,Personal Auto,Four-Door Car,799.200000
38,CM61827,Oregon,F,Bachelor,309003.41,0.0,90.0,0.0,Personal Auto,Two-Door Car,648.000000
42,IL19217,California,F,Bachelor,393900.64,60021.0,99.0,0.0,Personal Auto,Four-Door Car,882.871945
62,FG63582,Oregon,F,Bachelor,333976.49,0.0,94.0,0.0,Personal Auto,Two-Door Car,863.327324
135,MS41162,Arizona,F,High School or Below,402296.35,0.0,117.0,0.0,Personal Auto,SUV,975.107098
140,DS81757,Oregon,M,College,247012.12,0.0,74.0,0.0,Personal Auto,Two-Door Car,721.242206
158,KA61892,Arizona,M,College,387364.70,28142.0,105.0,0.0,Personal Auto,Luxury,701.708239
160,ND87334,California,M,High School or Below,228759.69,0.0,63.0,0.0,Corporate Auto,Two-Door Car,679.368378
170,TS19868,California,M,College,241313.97,27501.0,63.0,0.0,Personal Auto,Four-Door Car,542.319401
184,AB13432,California,M,Bachelor,373583.81,0.0,110.0,0.0,Personal Auto,SUV,792.000000
204,FL34139,California,M,High School or Below,368811.09,0.0,63.0,3.0,Personal Auto,Four-Door Car,669.682001
250,IA63417,Arizona,F,High School or Below,400151.91,19782.0,108.0,0.0,Personal Auto,Two-Door Car,773.470977
269,VZ51506,Arizona,F,High School or Below,359531.29,0.0,103.0,0.0,Corporate Auto,Luxury,741.600000
279,OH60605,Oregon,F,High School or Below,365253.24,39679.0,92.0,0.0,Personal Auto,Two-Door Car,641.388616
304,RR77985,Oregon,F,Bachelor,288774.23,0.0,80.0,0.0,Personal Auto,Four-Door Car,676.944023
388,JF36291,California,M,College,387364.70,28142.0,105.0,0.0,Personal Auto,Luxury,701.708239
415,ZF84449,Oregon,F,College,372672.80,0.0,112.0,1.0,Special Auto,Luxury,806.400000
448,NL93182,Nevada,M,Bachelor,254945.00,0.0,78.0,0.0,Corporate Auto,Four-Door Car,845.654042
450,WE68644,Oregon,F,Bachelor,380392.18,20325.0,100.0,0.0,Personal Auto,Luxury,668.293970
467,AU96286,Oregon,F,Bachelor,316765.84,0.0,92.0,0.0,Corporate Auto,Four-Door Car,662.400000
486,FY51713,Arizona,F,Bachelor,357076.05,56168.0,88.0,0.0,Personal Auto,Four-Door Car,614.675906
500,XN11823,Nevada,F,Bachelor,376446.51,92600.0,94.0,0.0,Corporate Auto,Two-Door Car,842.437850
502,PX17116,Nevada,M,College,362345.42,0.0,111.0,2.0,Corporate Auto,SUV,1171.931170
565,XS12556,California,F,College,368309.99,0.0,101.0,0.0,Corporate Auto,Luxury,564.466556
590,UK41984,Arizona,F,Doctor,383960.61,0.0,112.0,2.0,Personal Auto,SUV,537.600000
593,ZK21724,Oregon,F,High School or Below,401654.20,0.0,111.0,0.0,Personal Auto,SUV,799.200000
638,DM95829,California,M,College,252395.96,16244.0,68.0,0.0,Personal Auto,Two-Door Car,623.223617
645,JA41698,Nevada,M,Bachelor,309953.80,0.0,102.0,5.0,Corporate Auto,SUV,862.762957
669,ED50963,California,F,High School or Below,268886.40,32808.0,68.0,1.0,Personal Auto,Four-Door Car,541.695658
709,NZ15548,Oregon,M,Bachelor,402381.44,41833.0,103.0,0.0,Personal Auto,Four-Door Car,643.826716
788,TE13577,Oregon,F,College,231973.59,0.0,64.0,0.0,Personal Auto,Four-Door Car,632.715382
853,TV25678,Washington,M,College,354090.43,0.0,101.0,0.0,Personal Auto,SUV,727.200000
891,KJ87930,California,F,Bachelor,388650.48,0.0,112.0,0.0,Corporate Auto,SUV,1185.988301
908,XM72420,Arizona,F,High School or Below,391936.67,66676.0,97.0,0.0,Personal Auto,Four-Door Car,558.099357
949,TD10493,Oregon,F,High School or Below,289873.27,0.0,96.0,4.0,Personal Auto,Four-Door Car,691.200000
1019,OT52034,California,M,Bachelor,386477.68,24204.0,99.0,1.0,Personal Auto,Four-Door Car,707.303416
1022,UI73201,California,M,College,366737.50,62375.0,92.0,0.0,Personal Auto,Two-Door Car,618.630955
1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,0.0,Personal Auto,Four-Door Car,633.600000

In [203]:
potential_areas.shape

(40, 11)

- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [207]:
df[["total_claim_amount", "customer_lifetime_value"]].describe()

       total_claim_amount  customer_lifetime_value
count         1071.000000             1.071000e+03
mean           404.986909             7.936903e+05
std            293.027260             6.425757e+05
min              0.382107             2.004351e+05
25%            202.157702             4.048535e+05
50%            354.729129             5.887182e+05
75%            532.800000             8.945210e+05
max           2893.239678             5.816655e+06